<div class="text-white grid grid-rows-2">

  <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 grid-cols-1 lg:gap-6">

    <div class="flex flex-col mb-4">
      <a href="//www.library.jhu.edu/">
        <img
          alt="library-logo"
          class="w-64"
          data-entity-type="file"
          src="/themes/contrib/idc-ui-theme/images/sheridan-museums-logo.png" />
      </a>
    </div>

    <div class="flex flex-row lg:justify-self-center">
      <div class="flex flex-col">
        <div class="flex flex-col ml-2">
          <div>The Sheridan Libraries</div>
          <div>Johns Hopkins University</div>
          <div>410-516-8335 (Library Info Desk)</div>
        </div>
        <div class="flex my-4">
          <a
            href="http://www.twitter.com/mselibrary"
            target="_blank"
          >
          <img
            alt="twitter logo"
            class="w-12 h-6"
            data-entity-type="file"
            src="/themes/contrib/idc-ui-theme/images/icon-social-twitter-gold.svg" />
          </a>
          <a
            href="http://www.facebook.com/mselibrary"
            target="_blank"
          >
            <img
              alt="facebook logo"
              class="w-12 h-6"
              data-entity-type="file"
              src="/themes/contrib/idc-ui-theme/images/icon-social-facebook-gold.svg" />
          </a>
          <a
            href="https://www.instagram.com/jhulibraries/"
            target="_blank"
          >
            <img
              alt="instagram logo"
              class="w-12 h-6"
              data-entity-type="file"
              src="/themes/contrib/idc-ui-theme/images/icon-social-instagram-gold.svg" />
          </a>
          <a
            href="http://www.youtube.com/user/JHULibraries"
            target="_blank"
          >
            <img
              alt="youtube logo"
              class="w-12 h-6"
              data-entity-type="file"
              src="/themes/contrib/idc-ui-theme/images/icon-social-youtube-gold.svg" />
          </a>
          <a
            href="http://www.flickr.com/photos/hopkinsarchives/"
            target="_blank"
          >
            <img
              alt="flickr logo"
              class="w-12 h-6"
              data-entity-type="file"
              src="/themes/contrib/idc-ui-theme/images/icon-social-flickr-gold.svg" />
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-col lg:items-end">
      <hr class="my-1 w-48 border-t-1" />
      <a class="text-footer-link" href="//www.library.jhu.edu/support/">Help & Support</a>
      <hr class="my-1 w-48 border-t-1" />
      <a class="text-footer-link" href="//www.library.jhu.edu/directory/">Librarians & Staff Directory</a>
      <hr class="my-1 w-48 border-t-1" />
      <a class="text-footer-link" href="//www.library.jhu.edu/library-hours/">Libraries & Hours</a>
      <hr class="my-1 w-48 border-t-1" />
    </div>

  </div>

  <div class="flex lg:flex-row flex-col text-xs lg:space-x-4 mt-4">
    <div>© 2020 Johns Hopkins Sheridan Libraries</div>
    <a class="text-footer-link" href="//www.library.jhu.edu/johns-hopkins-libraries-privacy-and-confidentiality-policy/">Privacy</a>
    <a class="text-footer-link" href="//www.library.jhu.edu/confidentiality-policy/">Confidentiality</a>
    <a class="text-footer-link" href="//www.library.jhu.edu/disclaimer/">Disclaimer</a>
    <a class="text-footer-link" href="//www.library.jhu.edu/policies/">Policies</a>
  </div>
</div>
