<div class="bg-white">
  <img
    alt="library-logo"
    class="h-32"
    data-entity-type="file"
    src="/themes/contrib/idc-ui-theme/images/sheridan-libraries.logo.small.horizontal.blue.jpg" />
</div>
