<div class="mb-4 lg:mb-0">
  <form
    action="/search"
    method="get"
    accept-charset="UTF-8"
    class="flex items-center"
  >
    <div class="flex flex-col">
      <div class="flex flex-row">
        <input
          type="text"
          name="query"
          value=""
          size="30"
          maxlength="128"
          required
          class="form-text h-10 border-blue-heritage border-2 px-2" />
        <input
          type="submit"
          value="Search"
          class="inline-flex items-center px-3 py-2 h-10 border border-transparent text-sm leading-4 font-medium text-white bg-blue-heritage cursor-pointer hover:bg-gray-200 hover:text-blue-heritage" />
      </div>
      {# Hide advanced search link because it's not implemented yet #}
      <a href="/advanced-search" class="text-blue-heritage hidden">Advanced Search</a>
    </div>
  </form>
</div>
