{#
 # (Basic) Search page (/search)
 #  Includes component from idc-ui-theme:
 #    - idc-search
 #}
<div class="p-4">
  <div
    id="idc-search"
    data-type="none"
    data-title=""
    data-search-placeholder="Search ..."
    data-pagination-label="items"
  ></div>
</div>
