{#
 # "All Collections" page
 # Includes components from idc-ui-theme:
 #    - idc-search
 #}
{% if featured_collections|length > 0 %}
  <div id="featured-items" class="pt-4">
    <div class="container mx-auto bg-white shadow">
      <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-xl font-bold leading-6">
          Featured Collections
        </h3>
      </div>
      <div class="px-4 py-5 sm:p-6 h-auto">
        <div class="flex overflow-x-scroll overflow-y-hidden items-center justify-start">
          {% for collection in featured_collections %}
            <a href={{ "/node/#{collection.id}" }} class="flex-col mx-4 mb-4 w-64 h-64 shadow-md bg-white" data-test-featured-item>
              <div class="flex h-48 w-64 bg-gray-200 items-center justify-center">
                {% if collection.url %}
                  <img src={{collection.url}} class="object-contain h-48 w-full" alt="featured collection image" />
                {% else %}
                  <div class="text-gray-600 text-2lg">
                    No image available
                  </div>
                {% endif %}
              </div>
              <div class="h-16 py-4 px-2 text-center">
                <h3 class="text-sm md:text-lg font-bold line-clamp-1">
                  {{collection.title}}
                </h3>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
<div class="p-4">
  <div
    id="idc-search"
    data-type="collections"
    data-title="All Collections"
    data-search-placeholder="Search for collection(s) in this box"
    data-pagination-label="collections"
  >
  </div>
</div>
