{#
 # Repositor Item details page
 # No components from idc-ui-theme
 #}
{% if item.isPublished %}
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6 border">
    <h2 class="text-2xl font-bold leading-6 line-clamp-1">
      {{ item.title.value }}
    </h2>
  </div>
{% else %}
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6 border">
    <h2 class="text-2xl font-bold leading-6">
      Item is not available
    </h2>
  </div>
{% endif %}
