<nav class="bg-blue-heritage">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a class="text-white mr-5" href="http://library.jhu.edu"
          >Sheridan Libraries</a
        >
        <a class="text-white mr-5" href="http://welch.jhmi.edu/welchone/"
          >Welch Medical Library</a
        >
        <a
          class="text-white mr-5"
          href="http://www.sais-jhu.edu/atoz/mason-library-washington-dc"
          >SAIS Library</a
        >
        <a
          class="text-white mr-5"
          href="http://musiclibrary.peabody.jhu.edu/home"
          >Friedheim Music Library</a
        >
        <a
          class="text-white mr-5"
          href="https://www.jhuapl.edu/Library/"
          >APL Library</a
        >
      </div>
      <div class="flex items-center">
        <a
          class="text-white mr-5"
          href="/contact"
          >Contact us</a
        >
        {% if logged_in %}
          <a
            class="text-white"
            href="/user/logout"
            >Log out</a
          >
        {% else %}
          <a
            class="text-white"
            href="/user/login"
            >Log in</a
          >
        {% endif %}
      </div>
    </div>
  </div>
</nav>
